<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      Récupérer son mot de passe
    </ion-title>
  </ion-navbar>
</ion-header> 

<ion-content class="home ion-padding">
  
  <!-- Pour la publicité -->
  <!-- <ion-row>
    <div class="publicite_top" *ngIf="mikiPublicite.publicites != undefined && mikiPublicite.publicites.top.length > 0" [innerHTML]="mikiPublicite.current('top')"></div>
  </ion-row> -->



  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit(passwordRecoveryForm.value)">
    <h2>Vous avez oublié votre mot de passe ?</h2>
    <p>Entrez votre adresse e-mail et nous vous enverrons votre nouveau mot de passe.</p>

    <ion-item [class.error]="!passwordRecoveryForm.controls.email.valid && passwordRecoveryForm.controls.email.touched">
      <ion-label stacked>Votre adresse e-mail</ion-label>
      <ion-input type="email" value="" formControlName="email"></ion-input>
    </ion-item>

    <div *ngIf="passwordRecoveryForm.controls.email.hasError('required') && passwordRecoveryForm.controls.email.touched" class="error-box">
    	* L'adresse e-mail n'a pas été fournie
    </div>
    <div *ngIf="passwordRecoveryForm.controls.email.hasError('invalidEmailAddress') && passwordRecoveryForm.controls.email.touched" class="error-box">
      * L'adresse e-mail est invalide !
    </div>

    <br/><br/> 
    <button ion-button type="submit" class="custom-button" [disabled]="!passwordRecoveryForm.valid" block>Envoyer</button>
  </form>
</ion-content>